---
layout: default
title: "Contact"
order: 8
permalink: /contact.html

---
<h1>Contact</h1>
<div class="contact row">
    <p>
            Vous êtes intérressé(e) par un de nos ateliers ? Vous avez des questions ? Vous souhaitez être recontacté(e) ?
    </p>
        
    <div class="6u 12u(small)">
        {% include contact_info.html %}
        <p> <br>
        Vous pouvez nous laisser un message ici:</p>
        <form name="contact" action="/merci.html" netlify-honeypot="autrechose" netlify>
                <div class="field">
                    <label for="name">Votre nom</label>
                  <input type="text" name="name" id="name" required />
                </div>
                <div class="field">
                        <label for="email">Votre email</label>
                  <input type="email" name="email" id="email" required />
                </div>
                <div class="field">
                        <label for="message">Votre message</label>
                  <textarea name="message" id="message" required ></textarea>
                </div>
                <div style="display:none;">
                    <label for="email">Votre autre chose</label>
              <input type="text" name="autrechose" id="autrechose" />
            </div>
                <ul class="actions">
                  <li><input type="submit" value="Envoyer" class="special" /></li>
                </ul>
        </form>
    
    </div>
    
    <div class="5u -1u 12u(small)">
        
        {% include google_map.html %}
    </div>
</div>


