---
layout: page
title: "Contact"
order: 8
permalink: /contact/

---
<div class="contact row">
    <p>
            Vous êtes intérressé(e) par un de nos ateliers ? Vous avez des questions ? Vous souhaitez être recontacté(e) ?
    </p>
        
    <div class="7u 12u(small)">
        {% include contact_info.html %}
        <p> <br>
        Vous pouvez nous laisser un message ici:</p>
        <form method="post" action="#">
                <div class="field">
                    <label for="name">Votre nom</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                        <label for="email">Votre email</label>
                  <input type="email" name="email" id="email"  />
                </div>
                <div class="field">
                        <label for="message">Votre message</label>
                  <textarea name="message" id="message" ></textarea>
                </div>
                <ul class="actions">
                  <li><input type="submit" value="Envoyer" class="special" /></li>
                </ul>
        </form>
    
    </div>
    
    <div class="5u 12u(small)">
        
        {% include google_map.html %}
    </div>
</div>


