<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <section>
        <a href="{{ site.baseurl }}/" class="logo" title="{{ site.title }}">
          <img src="{{ " /assets/images/popotartLogo.svg " | prepend: site.baseurl }}"  class="logo-footer" alt="Logo {{ site.title }}">
        </a>
    </section>
    <section>
      {% include contact_info.html %}
    </section>

    <section>
      <i class="icon icon-menu"> </i>

      <nav>
        {% include menu.html %}
      </nav>
    </section>
    <ul class="copyright">
      <li>&copy; Popot'art asbl</li>
      <li>
        <a href="{{ site.baseurl }}/mentions.html" title="Mentions légales">Mentions légales</a>
      </li>
    </ul>
  </div>
</footer>
