<!-- Header -->
<header id="header">
  <div class="inner">

    <!-- Logo -->
    <a href="{{ site.baseurl }}/" class="logo" title="{{ site.title }}">
      <img src="{{ " /assets/images/popotartLogo.svg " | prepend: site.baseurl }}" alt="Logo {{ site.title }}">
    </a>

    <!-- Nav -->
    <nav>
      <ul>
        <li>
          <a href="#menu" title="Menu">Menu</a>
        </li>
      </ul>
    </nav>

  </div>
</header>

<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  {% include menu.html %}

</nav>