.agendaEvent{
    $gutter: _size(gutter);
    display:flex;
    flex-flow: row nowrap;
    flex: initial;

    .date{
        flex: 0 0 auto;
        margin-right: $gutter;   

        >p{
        color: darken( _palette(accent2), 10%);
        font-weight: _font(weight-bold);

        }
            
    }

    .eventText {
        flex: 0 10 80%;
        min-width: 80%;
            >h3 {
                color:  _palette(accent5);
                margin:0;
            }
            >p{
                margin: 0;
            }
            .lieu{
                color:lighten( _palette(accent4), 3%);
            }
    }

    

    @include breakpoint(medium) {
            @include vendor('flex-wrap', 'wrap');
        

    }
}

.agendaEvent +hr{
    margin: 1em 0;
}